<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 4.3.1 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84b0e3e44076e2c039c7fe81eab86d50:658e2c971baf0de07db21077ba4f77e1:9af00daf55f2d6dd3c8a474767a3e0fc$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>kenneyTiles.1.png</string>
                <key>size</key>
                <string>{1307,434}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>slab_E.png</string>
                        <key>spriteOffset</key>
                        <string>{0,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{256,512}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{171,256}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>slab_N.png</string>
                        <key>spriteOffset</key>
                        <string>{0,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{256,512}</string>
                        <key>textureRect</key>
                        <string>{{1,259},{256,171}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>slab_S.png</string>
                        <key>spriteOffset</key>
                        <string>{0,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{256,512}</string>
                        <key>textureRect</key>
                        <string>{{174,1},{171,256}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>slab_W.png</string>
                        <key>spriteOffset</key>
                        <string>{0,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{256,512}</string>
                        <key>textureRect</key>
                        <string>{{259,259},{256,171}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>floorGrass_E.png</string>
                        <key>spriteOffset</key>
                        <string>{0,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{256,512}</string>
                        <key>textureRect</key>
                        <string>{{347,1},{152,256}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>floorGrass_N.png</string>
                        <key>spriteOffset</key>
                        <string>{0,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{256,512}</string>
                        <key>textureRect</key>
                        <string>{{501,1},{152,256}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>floorGrass_S.png</string>
                        <key>spriteOffset</key>
                        <string>{0,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{256,512}</string>
                        <key>textureRect</key>
                        <string>{{517,259},{256,152}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>floorGrass_W.png</string>
                        <key>spriteOffset</key>
                        <string>{0,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{256,512}</string>
                        <key>textureRect</key>
                        <string>{{655,1},{152,256}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>floor_E.png</string>
                        <key>spriteOffset</key>
                        <string>{0,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{256,512}</string>
                        <key>textureRect</key>
                        <string>{{775,259},{256,152}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>floor_N.png</string>
                        <key>spriteOffset</key>
                        <string>{0,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{256,512}</string>
                        <key>textureRect</key>
                        <string>{{809,1},{152,256}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>floor_S.png</string>
                        <key>spriteOffset</key>
                        <string>{0,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{256,512}</string>
                        <key>textureRect</key>
                        <string>{{963,1},{152,256}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>column_E.png</string>
                        <key>spriteOffset</key>
                        <string>{94,73}</string>
                        <key>spriteSourceSize</key>
                        <string>{256,512}</string>
                        <key>textureRect</key>
                        <string>{{1117,1},{189,68}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>column_N.png</string>
                        <key>spriteOffset</key>
                        <string>{94,73}</string>
                        <key>spriteSourceSize</key>
                        <string>{256,512}</string>
                        <key>textureRect</key>
                        <string>{{1117,71},{189,68}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>column_S.png</string>
                        <key>spriteOffset</key>
                        <string>{94,73}</string>
                        <key>spriteSourceSize</key>
                        <string>{256,512}</string>
                        <key>textureRect</key>
                        <string>{{1117,141},{189,68}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>column_W.png</string>
                        <key>spriteOffset</key>
                        <string>{94,73}</string>
                        <key>spriteSourceSize</key>
                        <string>{256,512}</string>
                        <key>textureRect</key>
                        <string>{{1117,211},{189,68}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>floor_W.png</string>
                        <key>spriteOffset</key>
                        <string>{0,17}</string>
                        <key>spriteSourceSize</key>
                        <string>{256,512}</string>
                        <key>textureRect</key>
                        <string>{{1033,281},{256,152}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
